<div id="topicBoxes">
	{{#each posts}}
		<div class = "small-box" id = "{{post_name}}">
			<h2 class="innerText">{{post_name}}</h2>
			<h3 class="innerText">Rating:{{rating}}/5</h3>
		</div>
	{{/each}}
</div>
{{!-- {{#if "large-box"}} --}}
	{{!-- <h2 class="innerText">{{post_name}}</h2>
	<h3 class="innerText">Rating:{{rating}}/5</h3>
	<h4 class="innerText">{{body}}</h3> --}}
{{!-- {{/if}} --}}